{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'blog.css'%}">
    </head>
    <body>
        <div id="header-container">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Ministry_of_Agriculture_India.svg"
                    height="95.89%" width="95.89%">
            </div>
        </div>
    
        <!-- Header Container 1 -->
        <div id="header-container1">
            <div id="title">Farming Company</div>
            <div id="nav">
                <a href="#" class="current" onclick="homeURL();">HOMES</a>
                <a href="#" onclick="aboutURL();">ABOUT</a>
                <a href="#" onclick="productURL();">PRODUCTS</a>
                <a href="#" onclick="blogURL();">BLOG</a>
                <a href="#" onclick="contactURL();">CONTACT</a>
            </div>
        </div>
        <div id="footer-left-container">
            <div id="header1">
                <h1 class="footer-h1">Why Choose Us?</h1>
                <p class="footer-p">there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined.</p>
                <div id="ftitle1">
                    <h3 class="h3">Excellent Service</h3>
                    <ul>
                        <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                    </ul>
                </div>
                <div id="ftitle2">
                    <h3 class="h3">Clean Working</h3>
                    <ul>
                        <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                    </ul>
                </div>
                <div id="ftitle3">
                    <h3 class="h3">Quality And Reliability</h3>
                    <ul>
                        <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                    </ul>
                </div>
                <div id="ftitle4">
                    <h3 class="h3">Expert Farmer</h3>
                    <ul>
                        <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer-right-container">
            <div class="footer-clour">
                <img class="footer-img" src="{% static 'img/img4.webp'%}" height="350px" width="600px">
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1625246333195-78d9c38ad449?q=80&w=2070&auto=format&fit=crop" width="99.99%">
     
        <div id="footer-container1">
            <h1 class="foooter-h1">Contact Us</h1>
            <input class="input" type="text" name="text" placeholder="Full Name"  />
            <input class="input" type="text" name="Email" placeholder="Email"  />
            <input class="input" type="number" name="number" placeholder="Phone Number"  />
            <div>
                <textarea class="textarea"  name="message" placeholder="Message" Message="Name"></textarea>
                <input class="button" type="button" value="Send" >
                <!-- <button type="button" value="Send"></button> -->
            </div>
            <div id="header1">
                <div class="ftitle1">
                    <h1>Why Us</h1>
                    <ul>
                        <li>Reasonable Fee Structure</li>
                        <li>Well Designed Course Structure</li>
                        <li>Expert Faculties</li>
                        <li>100% Placement Assistance</li>
                    </ul>
                </div>
                <div class="ftitle2">
                    <h1>Address</h1>
                    <ul>
                        <li>Vastrapur-Subhash Bridge</li>
                        <li>Mobile 91-9904080166</li>
                        <li>Email:</li>
                        <li>contact@geniuscomputer.in</li>
                    </ul>
                </div>
                <div class="ftitle3">
                    <h1>Follow Us</h1>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                        <li>about.me</li>
                    </ul>
                </div>
            </div>
            
            <div id="footer">
                <div class="logo1">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Ministry_of_Agriculture_India.svg" height="68px" width="1500px">
                </div>
            </div>
        </div>  
        <script src="{% static 'img/blog.js'%}" async defer></script>
    </body>
</html>