{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farming Company</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
    <!-- Header Container -->
    <div id="header-container">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Ministry_of_Agriculture_India.svg"
                height="95.89%" width="95.89%">
        </div>
    </div>

    <!-- Header Container 1 -->
    <div id="header-container1">
        <div id="title">Farming Company</div>
        <div id="nav">
            <a href="#" class="current">HOMES</a>
            <a href="#" onclick="aboutURL();">ABOUT</a>
            <a href="#" onclick="productURL();">PRODUCTS</a>
            <a href="#" onclick="blogURL();">BLOG</a>
            <a href="#" onclick="contactURL();">CONTACT</a>
        </div>
    </div>


    <div class="main-image">
        <img src="{%static 'img/farming.jpg'%}" width="99.99%">
        <div class="image-text">
            <h1>FARMING COMPNAY</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it</p>
        </div>
        <div class="image1">
            <img src="{% static 'img/image6.jpeg.jpg'%}" height="210px" width="330px">
        </div>
        <div class="image2">
            <img src="{% static 'img/image3.jpg' %}" height="210px">
        </div>
        <div class="image3">
            <img src="{% static 'img/image4.jpg' %}" height="210px">
        </div>
    </div>
    <div id="second-left-container">
        <h1 class="second-left-title">World’s Hottest Destinations for Vegans</h1>
    </div>
    <div id="second-right-container">
        <img class="right-img-container" src="{% static 'img/img1.png'%}" height="900px" width="900px">
            <div class="img1-text">
                <h1>FARMING COMPNAY</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it</p>
            </div>
    </div>
    <div id="footer-left-container">
        <div id="header1">
            <h1 class="footer-h1">Why Choose Us?</h1>
            <p class="footer-p">there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined.</p>
            <div id="ftitle1">
                <h3 class="h3">Excellent Service</h3>
                <ul>
                    <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                </ul>
            </div>
            <div id="ftitle2">
                <h3 class="h3">Clean Working</h3>
                <ul>
                    <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                </ul>
            </div>
            <div id="ftitle3">
                <h3 class="h3">Quality And Reliability</h3>
                <ul>
                    <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                </ul>
            </div>
            <div id="ftitle4">
                <h3 class="h3">Expert Farmer</h3>
                <ul>
                    <li>It is a long established fact that a reader will be distracted by the readable content of a</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer-right-container">
        <div class="footer-clour">
            <img class="footer-img" src="{% static 'img/img4.webp'%}" height="350px" width="600px">
        </div>
    </div>
    <img src="{% static 'img/img2.png' %}" width="99.99%">
 

    <div id="title-h1">
        <h2>Our Product</h2>
    </div> 

    <div class="slides">
        <div class="slide slide-1">
          <img
            src="{% static 'img/fruit.jpg'%}"
            alt=""
          />
        </div>
  
        <div class="slide slide-2">
          <img src="{% static 'img/livestock2.jpg'%}" />
        </div>
        <div class="slide slide-3">
          <img
            src="{% static 'img/weat.jpg'  %}"
            alt=""
          />
        </div>
        <div class="slide slide-4">
          <img
            src="{% static 'img/protein.jpg'%}"
            alt=""
          />
        </div>
    </div>
    <div id="Farmerimg">
        <img src="{% static 'img/farming11-removebg-preview.png'%}" height="100%" width="60%">
        <div class="about">
            <h1 class="about-h1">FARMING COMPNAY</h1>
            <p class="about-p">It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it</p>
        </div>
    </div>
        <div id="footer-container1">
            <h1 class="foooter-h1">Contact Us</h1>
            <input class="input" type="text" name="text" placeholder="Full Name"  />
            <input class="input" type="text" name="Email" placeholder="Email"  />
            <input class="input" type="number" name="number" placeholder="Phone Number"  />
            <div>
                <textarea class="textarea"  name="message" placeholder="Message" Message="Name"></textarea>
                <input class="button" type="button" value="Send" >
                <!-- <button type="button" value="Send"></button> -->
            </div>
            <div id="header1">
                <div class="ftitle1">
                    <h1>Why Us</h1>
                    <ul>
                        <li>Reasonable Fee Structure</li>
                        <li>Well Designed Course Structure</li>
                        <li>Expert Faculties</li>
                        <li>100% Placement Assistance</li>
                    </ul>
                </div>
                <div class="ftitle2">
                    <h1>Address</h1>
                    <ul>
                        <li>Vastrapur-Subhash Bridge</li>
                        <li>Mobile 91-9904080166</li>
                        <li>Email:</li>
                        <li>contact@geniuscomputer.in</li>
                    </ul>
                </div>
                <div class="ftitle3">
                    <h1>Follow Us</h1>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                        <li>about.me</li>
                    </ul>
                </div>
            </div>
            
            <div id="footer">
                <div class="logo1">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Ministry_of_Agriculture_India.svg" height="68px" width="1500px">
                </div>
            </div>
        </div>
    <script src="{% static 'style.js'%}" async defer></script>
</body>
</html>